<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header') %>
    <h1>Welcome <%= user.name %></h1>
    <h3>Email: <%= user.email %></h3>
    <h3>City: <%= user.city %></h3>
    <ul>
        <% user.skills.forEach((item)=>{ %> <!-- '<% %>'' is for executing JavaScript code or logic within the template. -->
            <li> <%= item %> </li> <!-- '<%= %>'' is for evaluating JavaScript code and inserting its result into the resulting HTML.-->
        <%  }) %>
    </ul>
</body>
</html>